$bg-brand: $brand-color;

.bg-shape {
  border-radius: 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  @include bg-brand;
  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
  }
  &:before {
    left: 2.125rem;
    top: 1.188rem;
    background-image: #{linear-gradient(
        -45deg,
        lighten($bg-brand, 10),
        $bg-brand
      )};
  }
  &:after {
    right: -6.25rem;
    top: -7.938rem;
    background-image: #{linear-gradient(
        -45deg,
        lighten($bg-brand, 10),
        lighten($bg-brand, 15)
      )};
  }
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-brand {
  background-color: $brand-color;
  color: $brand-color-inverse;
}
.bg-secondary {
  background-color: $secondary-color !important;
  color: $secondary-color-inverse;
}

.bg-gray {
  background-color: $bg-gray !important;
}

.bg-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.bg-h-100 {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: auto 100% !important;
}

.bg-white {
  background: $bg-white !important;
}

.bg-center {
  background-position: center;
}

.bg-blue {
  background-color: #003247;
  color: #fff;
}

.bg-gradient {
  background-image: linear-gradient(34deg, #15c39a, #4c7af1);
}
.bg {
  background: url(https://sp-webfront.skypixel.com/skypixel/v2/public/website/assets/1535027674204-f6eca6369ec03e70262b58b0e25cda7b.jpg);
  background-size: cover;
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  filter: blur(15px);
  z-index: -1;
  background: linear-gradient(
    126deg,
    #2f40ad 27.90508%,
    #394fb7 39.71376%,
    #2a3ba9 50.91152%,
    #394fb7 63.58194%,
    #354ab5 91.60547%
  );
}

.bg-section {
  background: linear-gradient(
    126deg,
    #2f40ad 27.90508%,
    #394fb7 39.71376%,
    #2a3ba9 50.91152%,
    #394fb7 63.58194%,
    #354ab5 91.60547%
  );
  color: #fff;
}

.bg-testimonials {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: #fff;
  &:after {
    content: "";
    background: $brand-color;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.88;
    transition: all 0.4s ease-in-out 0s;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}
