$btn-padding: 0 1.25rem;
$btn-height: 3rem;
$btn-border: solid 1px transparent;
$btn-radius: 0.25rem;
$btn-font-size: 0.85rem;
$btn-font-weight: 500;
$btn-line-height: $btn-height;
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: $btn-border;
  padding: $btn-padding;
  height: $btn-height;
  border-radius: $btn-radius;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  white-space: nowrap;
  &:hover {
    text-decoration: none !important;
  }
  &:focus {
    outline: none !important;
  }
  &-brand,
  &-primary {
    @include bg-brand;
    border-color: $brand-color;
    &:hover {
      color: $brand-color-inverse;
      background-color: darken($brand-color, 10);
    }
    &:focus {
      outline: none !important;
    }
  }
  &-outline-brand {
    background-color: transparent;
    border-color: $brand-color;
    color: $brand-color;
    &:hover {
      color: currentColor;
      @include bg-brand;
    }
  }
  &-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $secondary-color-inverse;
    &:hover {
      color: currentColor !important;
    }
  }

  &-outline-secondary {
    background-color: transparent;
    border-color: $secondary-color;
    color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: $secondary-color-inverse;
      border-color: currentColor;
    }
  }

  &-white {
    background-color: #fff;
    color: #000;
    &:hover {
      color: currentColor;
    }
  }
  &-outline-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    &:hover {
      color: currentColor;
    }
  }

  &-black {
    background-color: #000;
    border-color: #000;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &-outline-black {
    background-color: transparent;
    border-color: #000;
    color: $txt-body;
    &:hover {
      @include bg-black;
    }
  }
  &-gray {
    background-color: $bg-gray;
    border-color: $bg-gray;
    color: $txt-body;
    &:hover {
      color: currentColor;
    }
  }
  &-outline-gray {
    background-color: transparent;
    border-color: $bg-gray;
    color: $txt-body;
    &:hover {
      color: currentColor;
    }
  }
  &-block {
    display: block;
    width: 100% !important;
  }
  &-wide {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  &-pill {
    border-radius: 50px;
  }

  //size
  &-lg {
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    //line-height: 1.5;
    //border-radius: 0.2rem;
  }

  &-sm {
    height: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    //border-radius: 0.2rem;
  }
  &-arrow {
    gap: 6px;
    .svg {
      width: 12px;
      height: 12px;
      margin-top: -4px;
    }
  }
  &-icon {
    gap: 6px;
    .svg {
      // width: 12px;
      // height: 12px;
      //margin-#{$end-direction}: 6px;
    }
  }
  &-link {
    text-decoration: none;
    color: $txt-body;
    padding: 0;
    height: auto;
    line-height: 1;
    .arrow {
      display: inline-block;
      transition: all 0.2s ease-in-out;
      .svg {
        width: 12px;
        height: 12px;
        margin-#{$end-direction}: 5px;
        fill: currentcolor;
      }
    }
    &:hover {
      .arrow {
        transform: translateX(0.25rem);
      }
    }
  }
  &-underline {
    text-decoration: underline;
  }

  .icn {
    svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
    }
  }
}

button:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

a.link {
  color: $brand-color;
  position: relative;
  font-size: 0.875rem;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  &:after {
    //content: "";
    position: absolute;
    height: 1px;
    bottom: -2px;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    background-color: $brand-color;
    color: $brand-color-inverse;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    background-size: 100% 1px;
  }
}

a.link-arrow {
  color: $brand-color;
  position: relative;
  font-size: 0.875rem;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  display: inline-flex;
  align-items: center;
  &:after {
    transition: all 0.5s ease;
    position: absolute;
    right: -0.5rem;
    opacity: 0;
    content: "→";
  }
  &:hover {
    color: $brand-color;
    text-decoration: none;
    &:after {
      transition: all 0.5s ease;
      right: -1rem;
      width: auto;
      opacity: 1;
    }
  }
  &-inline {
    display: inline-flex;
  }
}

.link-text {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  color: $primary-color;
  .icn {
    width: 12px;
    height: 12px;
    display: block;
    margin-#{$end-direction}: 8px;
    .svg {
      width: 100%;
      height: 100%;
      display: flex;
      fill: currentColor;
    }
  }
}
.link-underline {
  padding: 0;
  color: $brand-color;
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-size 0.3s;
  text-decoration: none;
  background-size: 100% 1px;
  border: none;
  &:hover {
    text-decoration: none;
    background-size: 95% 1px;
  }
  &-black {
    color: $black;
  }
}
@-webkit-keyframes moltinShake {
  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moltinShake {
  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid {
  animation: moltinShake 0.4s ease-in-out 0.1s normal forwards 1 running;
}

.link-dotted {
  text-decoration: dotted underline;
  text-underline-offset: 4px;
  &:hover {
    color: $brand-color;
  }
}
