.nav-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // overflow: hidden;
    // overflow-x: auto;
    flex-wrap: nowrap;
    .nav-item {
        + .nav-item {
            padding-#{$start-direction}: 2rem;
        }
    }

    //
    &-line {
        border-bottom: $border;
        &-2x {
            border-bottom-width: 2px;
        }
    }

    .nav-link {
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.3s;
        border: transparent;
        position: relative;
        color: $txt-body;
        font-size: 0.85rem;
        font-weight: 600;
        padding: 1.5rem 0;
        margin: 0 1rem;
        top: 1px;
        white-space: nowrap;
        &.active {
            color: $brand-color;
            background-image: linear-gradient(currentColor, currentColor);
            text-decoration: none;
            background-size: 100% 1px;
            text-decoration: none;
        }
        &:first-child {
            margin-#{$start-direction}: 0;
        }
        &:last-child {
            margin-#{$end-direction}: 0;
        }
    }
    &.dropdown-menu {
        display: none;
        &.show {
            display: block;
        }
    }
}
